python3-colcon-common-extensions
python3-pip
git
build-essential
cmake
pkg-config
libopencv-dev
python3-opencv
curl
python3-rosdep
python3-rosdistro
libgstreamer1.0-dev
libgstreamer-plugins-base1.0-dev
libgstreamer-plugins-good1.0-dev
libgstreamer-plugins-bad1.0-dev
libgstrtspserver-1.0-dev
ccache
ninja-build
