python3-colcon-common-extensions
build-essential
cmake
pkg-config
libopencv-dev
python3-rosdep
python3-rosdistro
software-properties-common
libgstreamer1.0-dev
libgstreamer-plugins-base1.0-dev
libgstreamer-plugins-bad1.0-dev
libgstreamer-plugins-good1.0-dev
libgstrtspserver-1.0-dev
ninja-build
ccache

